{% extends "base.html" %}

{% block content %}
<form method="POST">
  <div>
    <label for="first_name">First name:</label>
    <input type="text" name="first_name" value="{{ p.first_name or '' }}">
  </div>
  <div>
    <label for="last_name">Last name:</label>
    <input type="text" name="last_name" value="{{ p.last_name or '' }}">
  </div>
  <div>
    <label>Birthday:</label>
    {% include "includes/birthday-input.html" %}
  <div>
    <input type="submit" value="Save">
  </div>
</form>


{% endblock %}